@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Holligate Signature';
  src: url(../fonts/holligate-signature-demo/Holligate-Signature-Demo.ttf)
}

@font-face {
  font-family: 'robertson';
  src: url(../fonts/robertson/Robertson-Alternate.ttf)
}

.customizedfont{
  font-family: 'Holligate Signature';
  font-size: 3em;
}

body {
  /* background-color: hsl(243, 100%, 10%); */
  background-color: hsl(60, 56%, 97%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  background-color:hsl(243, 100%, 15%);
  position: fixed;
  width: 100vw;
  z-index: 999;
  /* box-shadow: rgb(0, 0, 29) 0px 20px 30px -10px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.headeroptions{
  background-color:hsl(255, 100%, 23%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.signature{
  color: hsl(243, 100%, 15%);
  font-family: "robertson";
  font-size: 2em;
}

.profileimg {
  -webkit-mask-image: url(../svgs/blobb.svg);
  mask-image: url(../svgs/blobb.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.profile-statement{
  color: hsl(243, 100%, 15%);
}

.footer{
  margin-top: 20vh;
}